@model Detalle_orden
@{
    ViewData["Title"] = "GuardarDetalle_orden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <br />
        <h2>Guardar Detalle_orden</h2>
        <br />
        <form asp-action="GuardarDetalle_orden" asp-controller="Detalle_orden" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Precio</label>
            <input asp-for="det_ord_precio" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Cantidad</label>
            <input asp-for="det_ord_cantidad" type="text" class="form-control">
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Producto</label>
            <input asp-for="id_producto" type="text" class="form-control">
            </div>
            <br />
            <button type="submit" class="btn btn-primary"> Guardar</button>
        <a asp-action="ListarDetalle_orden" asp-controller="Detalle_orden" class="btn btn-warning">Volver al listado</a>
        </form>
    </body>
</html>

