@model List<Cliente>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> LosClientes son: </h1>

@foreach (var item in Model){
    @item.Id
    @item.nombre
    @item.telefono
    @item.email
}