@model Empleado
@{
    ViewData["Title"] = "EditarEmpleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <br />
        <h2>Editar Empleado @Html.DisplayTextFor(m => m.emple_nombre)</h2>
        <br />
        <form asp-action="EditarEmpleado" asp-controller="Empleado" method="post">
            <div class="form-group">
                <input asp-for="id_empleado" type="text" class="form-control" />
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre</label>
                    <input asp-for="emple_nombre" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Apellido</label>
                    <input asp-for="emple_apellido" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">ID Supervisor</label>
                    <input asp-for="emple_id_supervisor" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">ID Usuario</label>
                    <input asp-for="emple_id_usuario" type="text" class="form-control">
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Editar</button>
                <a asp-action="Index" asp-controller="Empleado" class="btn btn-warning">Volver al listado</a>
            </div>
        </form>
    </body>
</html>

