@model Empleado
@{
    ViewData["Title"] = "EliminarEmpleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <h2>Eliminar @Html.DisplayTextFor(m => m.emple_nombre)</h2>

        <form asp-action="EliminarEmpleado" asp-controller="Empleado" method="post">
            <input asp-for="id_empleado" type="hidden" class="form-control" />
            <p>Seguro que quieres eliminar el registro de: @Html.DisplayTextFor(m => m.emple_nombre)?</p>
            <button type="submit" class="btn-danger">
                Eliminar
            </button>
            <a asp-action="Index" asp-controller="Empleado" class="btn btn-warning">
                Volver al listado
            </a>
        </form>
    </body>
</html>

