@model Empleado
@{
    ViewData["Title"] = "GuardarEmpleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <br />
        <h2>Guardar Empleado</h2>
        <br />
        <form asp-action="GuardarEmpleado" asp-controller="Empleado" method="post">
            
            <div class="form-group">
            <label for="exampleInputNombre1">Nombre</label>
                <input asp-for="emple_nombre" type="text" class="form-control">
            </div>
            <div class="form-group">
            <label for="exampleInput>Apellid1">Apellido</label>
            <input asp-for="emple_apellido" type="text" class="form-control">
            </div>
            <div class="form-group">
            <label for="exampleInputSuperviso1">ID Supervisor</label>
            <input asp-for="emple_id_supervisor" type="text" class="form-control">
            </div>
            <div class="form-group">
            <label for="exampleInputUsuario1">ID Usuario</label>
            <input asp-for="emple_id_usuario" type="text" class="form-control">
            </div>
            <br />
            <button type="submit" class="btn btn-primary"> Guardar</button>
            <a asp-action="Index" asp-controller="Empleado" class="btn btn-warning">Volver al listado</a>
        </form>
    </body>
</html>

