@model categorias_proveedor
@{
    ViewData["Title"] = "Guardarcategorias_proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <br />
        <h2>Guardar Categoria/Proveedor</h2>
        <br />
        <form asp-action="Guardarcategorias_proveedor" asp-controller="categorias_proveedor" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">ID Proveedor</label>
                <input asp-for="id_proveedor" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">ID Categoria</label>
                <input asp-for="id_categoria" type="text" class="form-control">
            </div>
            <br />
        <button type="submit" class="btn btn-primary"> Guardar</button>
        <a asp-action="Listarcategorias_proveedor" asp-controller="categorias_proveedor" class="btn btn-warning">Volver al listado</a>
        </form>
    </body>
</html>

