@model Categoria
@{
    ViewData["Title"] = "EliminarCategoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <br />
        <h2>Eliminar Categoria @Html.DisplayTextFor(m => m.categ_detalle)</h2>
        <br />
        <form asp-action="EliminarCategoria" asp-controller="Categoria" method="post">
            <input asp-for="id_categoria" type="hidden" class="form-control" />
            <div class="alert alert-danger" role="alert">
                <p>¿Seguro desea eliminar el registro?</p>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Eliminar</button>
            <a asp-action="Listar" asp-controller="Categoria" class="btn btn-warning">Volver al listado</a>
        </form>
</body>
</html>

