@model Usuario
@{
    ViewData["Title"] = "EditarUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <br />
        <h2>Editar Usuario @Html.DisplayTextFor(m => m.usua_correo) </h2>
        <br />
        <form asp-action="EditarUsuario" asp-controller="Usuario" method="post">
            <div class="form-group">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nº Usuario</label>
                <input asp-for="id_usuario" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Nombre</label>
                <input asp-for="usua_nombre" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Correo</label>
                <input asp-for="usua_correo" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input asp-for="usua_pass" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Nº Rol</label>
                    <input asp-for="id_Rol" type="text" class="form-control">
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Editar</button>
                <a asp-action="ListarUsuario" asp-controller="Usuario" class="btn btn-warning">Volver al listado</a>
            </div>
        </form>
    </body>
</html>

