@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>
    <div class="text-center">
        <br />
        <figure class="text-center">
          <blockquote class="blockquote">
            <h2>Tecnologia en tu Hogar</h2>
          </blockquote>
          <figcaption class="blockquote-footer">
            Instalación domotica en el hogar <cite title="Source Title">DomoRobot</cite>
          </figcaption>
        </figure> <br />
        <img src="/images/domotica.png.jpg" class="img-fluid rounded mx-auto d-block" width="1000" height="600" alt="">
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>