@model Cliente

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        Editar informacion del cliente
    </div>
    <div class="card-body">


    <form asp-action="Editar" asp-controller="CRUD" method="post">

    <input asp-for="id" type="hidden" class="form-control" />

    <div class="mb-3">
        <label for="form-label">Nombre</label>
        <input asp-for="nombre" type="text" class="form-control">
        <span asp-validation-for="nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="form-label">Telefono</label>
        <input asp-for="telefono" type="text" class="form-control">
        <span asp-validation-for="telefono" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="form-label">Email</label>
        <input asp-for="email" type="email" class="form-control">
        <span asp-validation-for="email" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Editar</button>
    </form>
    </div>
</div>