@model Cliente

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
    <br />
<div class="card">
    
    <div class="card-header">
        Eliminar informacion de cliente
    </div>
    <div class="card-body">
       
        <dl>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.clie_nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayFor(model => model.clie_apellido)
            </dt>
        </dl>
        <form asp-action="Eliminar" asp-controller="CRUD" method="post">
            <input asp-for="id_cliente" type="hidden" class="form-control" />
            <div class="alert alert-danger" role="alert">
                <p>¿Seguro desea eliminar el registro?</p>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Eliminar</button>
            <a asp-action="Listar" asp-controller="CRUD" class="btn btn-warning">Volver al listado</a>
        </form>
    </div>
</div>
</body>
</html>
