@model Cliente

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        Eliminar informacion de cliente
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="CRUD" method="post">
        <input asp-for="id" type="hidden" class="form-control" />
            <div class="alert alert-danger" role="alert">
                <p>¿Seguro desea eliminar el registro: @Html.DisplayTextFor(m => m.nombre)?</p>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Eliminar</button>
            <a asp-action="Listar" asp-controller="CRUD" class="btn btn-warning">Volver al listado</a>
        </form>
    </div>
</div>
