@model Cliente
@{
    ViewData["Title"] = "Guardar";
    Layout = "/Views/Shared/_Layout.cshtml";

}

<div class="card">
    <div class="card-header">
        Nuevo Cliente
    </div>
    <div class="card-body">
        <form asp-action="Guardar" asp-controller="CRUD" method="post">
            <div class="mb-3">
                <label for="form-label">Nombre</label>
                <input asp-for="nombre" type="text" class="form-control">
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="form-label">Telefono</label>
                <input asp-for="telefono" type="text" class="form-control">
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="mb-3" text="center">
                <label for="form-label">Email</label>
                <input asp-for="email" type="text" class="form-control">
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary"> Guardar</button>
            <a asp-action="Listar" asp-controller="CRUD" class="btn btn-warning">Volver al listado</a>
         </form>
    </div>
</div>
